<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.common.register.dao.RegisterDao">
    <!-- 회원 정보 등록 -->
    <insert id="insertMember" parameterType="com.example.demo.common.register.dto.AddUserFormDto">
        INSERT INTO MEMBER (
            USERID,
            PASSWORD,
            NAME,
            EMAIL,
            JOIN_DT
        ) VALUES(
            #{userId},
            #{password},
            #{userName},
            #{userId},
            NOW()
        )
    </insert>
</mapper>